@import '../../../../../dist/css/variaveis.css';

h1 {
    width: 100%;
    padding: 15px;
    text-align: center;
    color: var(--text-color-secundaria);
    background-color: var(--BgCorPrimaria);
    border-radius: 10px
}

li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.btn-delete {
    width: 50%;
    display: block;
    margin: 0 auto;
    background-color: var(--buttonColor);
    padding: 13px 10px;
    color: var(--text-color-secundaria);
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}


/*modo-claro*/
.boxligth{
    border-radius: 10px;
    min-height: 300px;
    width: 100% ;
    background-color: var(--bgCorSecundaria);
    margin-top: 20px;
    box-shadow: 1px 1px 22px 2px rgba(125, 125, 125, 1);
    padding: 15px;
}

.boxligth:not(:has(ul li)) {
    background-image: url(../../../../../assets/img/bg-task.png);
    background-position: center;
    background-repeat: no-repeat;
}




/*modo-escuro*/





.boxDark {
    border-radius: 10px;
    min-height: 300px;
    width: 100%;
    background-color: var(--bgDarkCorSecundaria);
    margin-top: 20px;
    box-shadow: 1px 1px 22px 2px rgb(34 182 227);
    padding: 15px;
}

.boxDark:not(:has(ul li)) {
    background-image: url(../../../../../assets/img/bg-task.png);
    background-position: center;
    background-repeat: no-repeat;
}





input[type="text"]{
    width: 80%;
    border: none;
    color: var(--text-color-primaria);
    font-size: 18px;
    
}

input[type="checkbox"] {
    width: 5%;
    border-radius: 10px;
    border:1px solid var(--text-color-primaria);
}

input[type="checkbox"]:checked ~ input[type="text"]{
    text-decoration: line-through;
}

div button{
    width: 5%;
    background-color: white;
    border: none;
    cursor: pointer;
}

div button img{
    width: 13px;
}





