<h1>App de Tasks</h1>
    
    <div [ngClass]="{'boxDark':darkMode, 'boxLight':!darkMode, 'iconBox': taskList.length == 0}">
        <ul *ngIf="taskList.length">
            <li *ngFor="let item of taskList; let i = index">
                <label class="group-inpt">
                    <input  type="checkbox" class="ck-input" [(ngModel)]="item.check">
                    <div class="checkmark"></div>
                    <input type="text" (keyup)="validaInput(item.task, i)" [(ngModel)]="item.task" [ngClass]="{'checked':item.check}">
                </label>
                
    
                <button (click)="destroyItem(i)">
                    <img src="assets/icons/Vector.svg" alt="lixeira">
                </button>
            </li>
        </ul>
    </div>
    
    <app-input-add-itens (emitItemTask)="setEmit($event)"></app-input-add-itens>
    <button class="btn-delete" *ngIf="taskList.length" (click)="deleteAll()">Deletar todos</button>