@import '../../../../../dist/css/variaveis.css';


div {
    width: 80%;
    background-color: var(--BgCorPrimaria);
    padding: 10px;
    margin: auto;
    position: relative;
    top: -25px;
    border-radius: 5px
}

input{
    font-size: 18px;
    display: block;
    border: none;
    background-color: var(--BgCorPrimaria);
    color:var(--text-color-secundaria);
    margin: auto;
    padding: 5px;
    width:80%;
}

input::placeholder{
    color: var(--text-color-secundaria);
}

.btn-envio {
    display: none;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: var(--BgCorPrimaria);
    padding: 13px 10px;
    color: var(--text-color-secundaria);
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:768px){
    .btn-envio{
        display: block;
    }
}